Delete From sys_dict Where D_Name='StockItem'

--set   nocount   on   select   'insert   sys_dict(D_ID,D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values('as   '--',D_ID,',',''''+D_Name+'''',',',''''+D_Desc+'''',',',''''+D_Value+'''',',',''''+D_Memo+'''',',',D_ParamA,',',''''+D_ParamB+'''',',',D_Index,')'   from   sys_dict
--                                                                                       D_ID                                                                                                                                                                D_ParamA                                                                                               D_Index     
---------------------------------------------------------------------------------------- ----------- ---- ----------------- ---- -------------------------------- ---- ---------------------------------------------------- ---- ---------------------- ---- --------------------------------------- ---- ---------------------------------------------------- ---- ----------- ----
insert   sys_dict(D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values('StockItem'       ,    '水泥类型'                           ,    '白熟料'                                                ,    'S'                    ,    NULL                                    ,    '10162015011810000014'                               ,    0           )
insert   sys_dict(D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values('StockItem'       ,    '水泥类型'                           ,    'P·O52.5低碱散装'                                        ,    'S'                    ,    NULL                                    ,    'A1002B110'                                          ,    0           )
insert   sys_dict(D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values('StockItem'       ,    '水泥类型'                           ,    'P·O52.5低碱袋装'                                        ,    'D'                    ,    NULL                                    ,    'A1002B109'                                          ,    0           )
